.container-fluid>.row>.col>p,
span {
    color: #fff;
    padding: 10px;
}

@media screen and (max-width: 615px) {

    .container-fluid>.row>.col>p,
    span {
        color: #fff;
        padding: 8px;
    }

    .col .text-end {
        text-align: left !important;
    }
}

@media screen and (max-width:320px) {

    .container-fluid>.row>.col>p,
    span {
        font-size: 10px;
        color: #fff;
        padding: 5px;
    }

    .text-end {
        text-align: left !important;
    }
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0 0 0 /40%);
}

.carousel-caption {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.carousel-caption p {
    margin: 0;
}

.carousel-caption h3,
p {
    z-index: 1;
    color: #fff;
}
.logo{
    position: absolute;
    top:50%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.card-label{
    position: absolute;
    top: 30%;
    left: 0%;
    transform: translate(0%,30%);
}
.label-new,.label-sale{
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    color:black;
    background: #ff0000;
}
.card-text{
    color:black;
}
.banner{
    background: url('../img/banner2-1.jpg') no-repeat;
    background-size: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
}
.banner p{
    margin: 0;
}
.box {
    border: 1px solid black;
    width:calc(100% / 5 - 40px);
    padding: 10px;
}